.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .board {
        background-color: white;
        border: 2px solid lightskyblue;
        display: flex;
        flex-direction: column;

        > :nth-child(3){
            border-bottom: 3px solid lightskyblue;
        }

        > :nth-child(6){
            border-bottom: 3px solid lightskyblue;
        }
    }
    
    .end-button-div {
        margin: 10px 0px;
        button {
            font-size: 1.2rem;
            width: 33vw;
            height: 5vh;
            background-image: linear-gradient(to right, #86A8E7 0%, #91EAE4 100%);
            border: none;
            border-radius: 5px;
            color: whitesmoke;
            cursor: pointer;
            display: inline-block;
            position: relative;
            
        }
        button:after {
            color: white;
            content: '»';
            position: absolute;
            opacity: 0;  
            top: 7px;
            right: -30px;
            transition: 0.2s;
        }
          
        button:hover{
            padding-right: 35px;
            padding-left:9px;
        }

        button:hover:after {
            opacity: 1;
            right: 10px;
        }
    }
}


.row {
    display: flex;
    :nth-child(3){
        border-right: 3px solid lightskyblue;
    }
    :nth-child(6){
        border-right: 3px solid lightskyblue;
    }
}

.timer-div {
    background-color: white;
    position: fixed;
    top: 15vh;
    right: 11.5vw;
    color: white;
    margin: 10px 0px;
    background: linear-gradient(320deg, #8360c3 0%, #0082c8 100%);
    border-radius: 7px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    
    p{
        font-size: 1.2rem;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, #86A8E7 0%, #91EAE4 100%);
        border-image-slice: 1;
        margin-bottom: 5px;
        padding-bottom: 2px;
    }

    h1{
        font-size: 1.2rem;
    }
}

.tile {
    border: 1px solid lightskyblue;
    height: 7vh;
    width: 3.6vw;
    display: flex;
    justify-content: center;
    align-items: center;


    * {
        font-size: 1.5rem;
        color: #4286f4;
        margin-top: 1px;
        width: 3.1vw;
        height: 90%;
        border: none;
        text-align: center;
        outline: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    div {
        padding: 1px 2px;
        // border: 1px solid black;
    }


    .prefilled {
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.wrong-answer-display-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 1rem;
        margin-bottom: 3px;
        color: #f64f59;
    }
}