.feed-div{
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 1.3rem;
    }
    .create-post-div{
        margin-top: 10px;
        button{
            background: none;
            padding: 10px;
            font-size: 1rem;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

    }
}

.created-post-div{
    margin: 10px;
    border-radius: 10px;
    width: 30vw;
    height: 15vh;
    padding: 10px;
    background-color: white;

    header{
        display: flex;
        .author-name-div {
            font-weight: bold;
            margin: 10px 0px;
        }

        .dropdown {
            position: relative;
            left: 320px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            border: none;
        }

        .dropdown:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .show-dropdown {
            display: block;
            position: absolute;
            top: 20px;
            right: 0px;
            background-color: white;
            border-radius: 8px;
            border: 1px solid gray;
            width: 100px;
            height: 65px;
            padding: 5px 0px;
        }
    
        .hide-dropdown {
            display: none;
        }

        .edit-btn, .delete-btn {
            padding: 7px 0px;
            cursor: pointer;
        }
    
        .edit-btn:hover, .delete-btn:hover {
            background-color: rgba(0, 0, 0, 0.3); 
        }

    }



}