.feed-div{
    background: linear-gradient(270deg, #2ebf91 0%, #8360c3 75%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 2.5rem;
        color: white;
        letter-spacing: 5px;
    }
}

.create-post-div button{
    margin: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: none;
    border: 1px solid white;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgba(211, 211, 211, 0.2);
        transition: 200ms;
    }
}

.created-post-div{
    margin: 10px;
    border-radius: 10px;
    width: 30vw;
    height: fit-content;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.3);
    color:white;

    &:hover {
        background-color: rgba(211, 211, 211, 0.5);
    }

    header{
        display: flex;

        .author-name-div {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 10px;
        }

        .dropdown {
            margin-left: auto;
            height: 20px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            &:hover {
                background-color: rgba(211, 211, 211, 0.7);
            }
        }

        .show-dropdown {
            color: black;
            display: block;
            position: absolute;
            margin-top: 5px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 8px;
            border: 1px solid gray;
            width: 100px;
            height: 65px;
            padding: 5px 0px;
        }
    
        .hide-dropdown {
            display: none;
        }

        .edit-btn, .delete-btn {
            padding: 7px 0px;
            cursor: pointer;
        }
    
        .edit-btn:hover, .delete-btn:hover {
            background-color: rgba(0, 0, 0, 0.3); 
        }

    }
}

.created-post-body {
    margin: 10px;
    line-height:1.5em;
    span {
        font-weight: bold;
    }
}

.playSudokuButton {
    margin-top: 15px;
    text-align: center;  
}

.created-post-body button {
    background: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: 1px solid white;
    letter-spacing: 3px;
    padding: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgba(211, 211, 211, 0.7);
    }
}