.home-page-wrapper {
    background: linear-gradient(270deg, #2ebf91 0%, #8360c3 75%);
    height: 85vh;
    color: white;
}

.home-page-content {
    padding: 30px;
}
.home-page-wrapper h1 {
    font-size: 5rem;
}