.instructions-container {
    height: 22em;
    border-radius: 5px;
    background-color: lightgray;
    // background-image: linear-gradient(135deg, lightgray, #b8b8b8);
    color: #4f4f4f;
    padding-inline: 2em;
    border: 2px solid rgb(85, 85, 85);

    h1 {
        padding-top: 1em;
        font-weight: bolder;
    }

    p {
        text-align: start;
        margin-block: 12px;
    }

    ul {
        list-style-type: disc;
        text-align: start;
        li {
            margin-bottom: 10px;
        }
    }
}