.main-page-background {
    height: 100vh;
    background: linear-gradient(270deg, #2ebf91 0%, #8360c3 75%);
}

.main-page-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -150px;
}
.main-page-content img{
    margin-bottom: 80px;
}
.main-page-content button {
    margin-bottom: 10px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: darkgray;
        transition: 200ms;
    }
}