@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import './reset.scss';
@import './main_page.scss';
@import './modal.scss';
@import './navbar-footer.scss';
// @import './home.scss';
@import './input.scss';

html {
    font-family: 'Roboto', sans-serif;
}