.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.close-x {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:darkgray;
    cursor: pointer;
    &:hover {
        color: gray;
    }
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    text-align: center;
    border-radius: 5px;
    background-color: lightgray;
    color: rgb(235, 235, 235);
}

.modal-child input {
    height: 60px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: rgb(85, 85, 85);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    outline: none;
    text-indent: 10px;
    border: 1px solid rgb(85, 85, 85);
    &::placeholder {
        color: rgb(85, 85, 85);
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        transition: 200ms;
        &::placeholder {
            color: white;
            transition: 200ms;
        }
    }
}

.modal-child input[type=submit] {
    background-color: lightgray;
    text-indent: 0px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(85, 85, 85);
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color:white;
        transition: 200ms;
    }
}

.session-errors {
    background: rgba(239, 35, 60, 0.8);
    padding: 10px 0px;
    color: white;
    font-weight: 900;
    font-size: 14px;
}