.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.close-x {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    &:hover {
        color: lightgray;
    }
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(137, 194, 217, 0.9);
    color: rgb(235, 235, 235);
}

.modal-child input {
    height: 60px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(70, 143, 175, 0.7);
    color: rgb(235, 235, 235);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    outline: none;
    text-indent: 10px;
    border: 0.5px solid #468faf;
    &::placeholder {
        color: rgb(219, 219, 219);
    }
    &:hover {
        background-color: rgb(1, 73, 124, 0.5);
        color: lightgray;
        transition: 200ms;
    }
}

.modal-child input[type=submit] {
    background-color: rgba(1, 73, 124, 0.7);
    text-indent: 0px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
    &:hover {
        background-color: rgba(0, 52, 88, 0.7);
    }
}

.session-errors {
    background: rgba(239, 35, 60, 0.8);
    padding: 10px 0px;
    color: white;
    font-weight: 900;
    font-size: 14px;
}