.show-page, .profile-page{
    background: linear-gradient(270deg, #2ebf91 0%, #8360c3 75%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 2.5rem;
        color: white;
        letter-spacing: 5px;
    }
}




.follow-button{
    border-radius: 60px;
    background-color: rgba(211, 211, 211, 0.3);
    border: 1px solid white;
    color: white;
    margin: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    cursor: pointer;

    &:hover{
        background-color: rgba(211, 211, 211, 0.7);
    }
}

// .follow{
   
// }

// .unfollow{
    
// }


.posts-friends{
    display: flex;

    justify-content: space-evenly;
    
    .friends{
        display: flex;
        flex-direction: column;
        align-items: center;
        .pf-user{
            display: flex;
            align-items: center;

            button{
                font-size: 12px;
            }
        }
    }
}